<h1>Trip: Time and Cost</h1>
<form action='/trip' method='get'>
  Distance (mi): <input type="number" step="any" name="distance">
  Fuel Efficiency of your vehicle (mpg): <input type="number" step="any" name="mpg">
  Cost of Gas (per gallon): $<input type="number" step="any" name="cost_of_gas">
  Average traveling speed (mph): <input type="number" step="any" name="mph">
  <button>Calculate!</button>
</form>

<% if @result %>
<p>Your trip will take <%= @time %>hours and gas will cost you $<%= @cost %>.</p>
<p>Oh the places you'll go!</p>
<% end %>