/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
 body{text-align: center; margin-top: 175px; background-image: url(http://hw-static.worldstarhiphop.com/u/pic/2010/12/14/wizwremix.jpg);}
a {display: inline; font-size: 7em;font-family: Helvetica; text-decoration:none; color:white}
.black:hover{display:block; background-color: black; color:white}
.yellow:hover{display:block;background-color: yellow; color:white}

