<h2>Welcome to the Web App</h2>


<p>Welcomg to the General Assembly WDI Stockbook. A student names Scott Gammon stayed up until midnight to make this page fully functional. This is meant for demonstration purpuses only, but the web app does look up stock prices from Yahoo Finance (delayed by 15 minutes). Feel free to browse around and see how everything works. Make menu above to navigate, or contact me at ScottyGammon@gmail.com</p>