<!doctype html>
<html lang='en'>
  <head>
    <meta charset='utf-8'>
    <link rel='stylesheet' href='/reset.css'>
    <link rel='stylesheet' href='/style.css'>
    <title>MemeTube</title>
  </head>
  <body>
    <header>
    <h1>MemeTube</h1>
    <nav>
      <ul>
        <li><a href='/'>Home</a></li>
      </ul>
    </nav>
    </header>
    
    </br>
    </br>

    <%= yield %>
  </body>
</html>