<!doctype html>
<html lang='en'>
  <head>
    <meta charset='utf-8'>
    <!--<link rel='stylesheet' href='/reset.css'>-->
    <!--<link rel='stylesheet' href='/bootstrap.css'>-->
    <link rel='stylesheet' href='/style.css'>
    <title>Todo</title>
  </head>
  <body>
    <nav>
      <ul>
        <li><a href='/'>Home</a></li>
        <li><a href='/create'>Create Todo</a></li>
        <li><a href='/read'>Read Todos</a></li>
        <li><a href='/update'>Update Todo</a></li>
        <li><a href='/delete'>Delete Todo</a></li>
      </ul>
    </nav>

    <%= yield %>
  </body>
</html>