<h2>Basic Maths</h2>

<form action='/Maths/Basic' method='get'>

    <table>
      <tr>
        <td>Input first number</td><td><input type='text' name='maths_basic_first'></td>
      </tr>
      <tr>
        <td>Input second number</td><td><input type='text' name='maths_basic_second'></td>
      </tr>
      <tr>
        <td>Select Operator</td><td><select class="btn" name="maths_basic_op">
                                      <option value="+">Add</option>
                                      <option value="-">Subtract</option>
                                      <option value="*">Multiply</option>
                                      <option value="/">Divide</option>
                                    </select></td>
      </tr>
      <tr>
        <td></td><td><button>Submit</button></td>
      </tr>
    </table>  
</form>


<% if @maths_basic_first && (@maths_basic_first != 0 || @maths_basic_second != 0 ) %>
<section>
    <h3>Basic Calculation Answer</h3>

    <div class="basic result">

      <p><%= @maths_basic_first %> <%= @maths_basic_op %> <%= @maths_basic_second %> equals <%= @maths_basic_result%> </p>
  </div>

  </section>


<% end %>
