<!doctype html>
<html lang='en'>
  <head>
    <meta charset='utf-8'>
    <title>Movies $itches</title>
    <link rel='stylesheet' href='/style.css'>
  </head>

  <body>
    <header>
      <h1>Movies, $itches!!!</h1>
      <nav>
        <ul>
          <li><a href='/home'>Home</a></li>
          <li><a href='/movies'>Movie</a></li>
        </ul>
      </nav>
    </header>
    <div>
      <%= yield %>
    </div>
    <footer>
    </footer>
  </body>
</html>