
 /** This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 **/
 /**= require_self
 *= require_tree .*/

 body {
  background-image: url(/background.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: helvetica, arial, sans-serif;
  color: navy;
 }
 

 header {
  background-color: #15BF3D;
  min-height: 80px;
  border-bottom: 3px solid white;
}

.title {
  color: white;
  float: left;
  font-size: 350%;
  margin: 0px 0px 0px 15px;
  font-family: 'Indie Flower', 'cursive';
}

.login .field, .login .actions {
  float: right;
  margin-top: 27px;
  margin-right: 15px;
  color: white;
}

.navigation a {
  margin: 28px 0px 0px 60px;
  float: left;
  font-size: 125%;
}

.navigation a:link, .navigation a:visited {
  text-decoration: none;
  color: white;
}

.navigation a:active {
  color: red;
}

.welcome, .logout {
  float: right;
  color: navy;
  margin-right: 15px;
  margin-top: 28px;
  font-size: 110%;
}

.search {
  float: right;
  margin-top: 10px;
}

.yield {
  clear: both;
}

.box {
  background-color: white;
  opacity: 0.5;
  min-height: 400px;
}

h1 {
  color: navy;
  float: left;
  font-family: 'Indie Flower', 'cursive';
}

.add {
  float: right;
  margin: 25px 5px 0px 0px;
  clear: right;
}

.add a:link, .add a:visited {
  text-decoration: none;
  color: red;
}

table {
  font-size: 120%;
  clear: both;
}

a:link, a:visited {
  text-decoration: none;
  color: navy;
}

a:active, a:hover {
  color: red;
}

.form, .show {
  clear: both;
}

img {
  border: 3px solid navy;
}





 /*body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;
  &:visited {
    color: #666;
  }
  &:hover {
    color: #fff;
    background-color: #000;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}

*/
 
 	