* {
  box-sizing: border-box;
}

body {
  width: 960px;
  margin: 0 auto;
  position: relative;
  background-color: #000;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
}

h1 {
  font-family: 'Metrophobic', sans-serif;
  font-size: 80px;
  margin-right: 25px;
  margin-bottom: 60px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 30px;
}

li {
  list-style: none;
  margin-left: -40px;
}

li.recipes-list {
  margin-left: 20px;
}

a {
  text-decoration: none;
  color: #fff;
}

a:hover {
  color: #5B80FF;
}

img {
  width: 300px;
  height: auto;
  margin: 10px;
  border: 2px solid #fff;
}

.italics {
  font-style: italic;
}

.logo {
  position: absolute;
  width: 350px;
  top: 60px;
  right: 0;
  display: block;
  line-height: 0;
  text-align: right;
  border: 3px solid #fff;
}



.bar {
  width: 960px;
  height: 30px;
  margin: 20px auto 20px auto;
  padding: 2px;
  border: 2px solid #fff;
  background-color: #000;
  font-family: 'Metrophobic', sans-serif;
  font-size: 20px; 
  color: #fff;
  text-align: center;
}

.box {
  width: 55px;
  height: 40px;
  background-color: #5B80FF;
  margin-left: 30px;
  margin-right: 6px;
/*  display: inline-block;
*/}

.button_to {
  background-color: #000;
  display: inline-block;
}

.bar {
  width: 960px;
  height: 30px;
  margin: 70px auto 20px auto;
  padding: 2px;
  border: 2px solid #fff;
  background-color: #000;
  font-family: 'Metrophobic', sans-serif;
  font-size: 20px; 
  color: #fff;
  text-align: center;
}

.yield {
  margin: 120px auto;
}

.checkbox-list {
  display: inline-block;
}

.black {
  color: #000;
}

.flash {
  margin-top: 100px;
  margin-bottom: -50px;
}

#error_explanation, #notice {
  color: #5B80FF;
}

.active_menu_item {
  color: #5B80FF;  
}

.category-index {
  margin: 10px;
  display: block;
}

svg {
  fill: #fff;
  height: 140px;
  width: 120px;
  margin-right: 40px;
  margin-bottom: -40px;
}

svg:hover {
  fill: #5B80FF;
}
