<h2>form</h2> 

<form action='/home' method='post'> 
  <p>Starting Line</p>
  <input type='text' name='start_train' required>
  <p>Starting Stop</p>
  <input type='text' name='stop_a' required>
  <p>End Line</p>
  <input type='text' name='stop_train' required>
  <p>End Stop</p> 
  <input type='text' name='stop_b' required> 
  </br>
  <button>Calculate Trip</button>
</form>

