
<h1>Welcome to the MTA APP</h1>

<h2>Here are your lines and stops</h2>

<p>n = ['ts', '34th', '28th-n', '23rd-n', 'us', '8th']</p>
<p>l = ['8th', '6th', 'us', '3rd', '1st']</p>
<p>s = ['gc', '33rd', '28th-s', '23rd-s', 'us', 'ap']</p>

<%= render 'form' %>

<p>
  <b>Length of Trip:</b>
  <%= @result %>
</p>