<form method='post' action='/recipes'>
  Name:
  <input type='text' name='recipe[name]' autofocus>
  <br>
  Serving size:
  <input type='text' name='recipe[serving_size]'>
  <br>
  Category:
  <input type='text' name='recipe[category_id]'>
  <br>
  <button>add me!</button>
</form>