


<div class="form">

 <form action='/index' method='get'>

        
        <div id="startline"><input type='text' name='startline' placeholder="Enter Start Line" required></div>
      </br>

        
        <div id="startstation"><input type='text' name='startstation' placeholder="Enter Start Station" required> </div>
      </br>

        <div id="finishline"><input type='text' name='endline' placeholder="Enter Finish Line" required> </div>
      </br>

        <div id="finalstation"><input type='text' name='endstation' placeholder="Enter Final Station" required> </div>

      </br>

       <div id="button">  <button>Calculate</button> </div>
  </form>  

</div>


