

<div class="title"> <img src="http://i.imgur.com/K1TITuR.png" /></a> </div>





<%= render 'form' %>

Length of trip:

<div class=line>

<p>N-Line = 'ts', '34th', '28th-n', '23rd-n', 'us', '8th' 
L-Line = '8th', '6th', 'us', '3rd', '1st' 
S-Line = 'gc', '33rd', '28th-s', '23rd-s', 'us', 'ap' </p>

</div>


