<form action='/create' method='post'
  <input type='text' name='title' autofocus>
  <textarea rows=5 cols=2- name='description' autofocus>
  <input type='text' name='genre' autofocus>
  <input type='text' name='youtubeID' autofocus>

  <button>Add video</button>
</form>



