<h2>Cookbook Login</h2>

<h2><% if current_user %>
            hello, <%= current_user.email %>
            <%=button_to 'Logout', session_path(0), method: :delete %>
            <% else %>
            <%=link_to 'Login', new_session_path %>
            <% end %></h2>

<table>
    <tr>
      <th>Made By</th>
    </tr>
    <tr>
      <td><img src="/scotty.jpg" alt="logo" /></td></tr>
</table>