<h2>Ingredient</h2>
<p>Name: <%= @ingredient.name %></p>


<p><%= link_to('Edit', edit_ingredient_path(@ingredient.id)) %> <%= link_to('Delete', ingredient_path(@ingredient.id), :method => :delete) %></p>