<h2>Category#symbols</h2>
<ul>
  <li>
    "Barricade Tires" and "Trust Fall" by <a href="http://thenounproject.com/bravo/" target="_blank">Juan Pablo Bravo</a>
  </li>
  <li>
    "Add" by <a href="http://thenounproject.com/Queesy/" target="_blank">Kevin Kwok</a>
  </li>
  <li>
    "Mushroom Cloud" by <a href="http://thenounproject.com/occultsearcher/" target="_blank">Gokce Ozan</a>
  </li>
  <li>
    "Mask" and "Overthrow Government" <a href="http://thenounproject.com/Luis/" target="_blank">Luis Prado</a>
  </li>
  <li>
    "Economic Crisis" by <a href="http://thenounproject.com/ChepaRoa/" target="_blank">Camilo Andrés Roa Ruiz</a>
  </li>
  <li>
    "Apocalypse" by <a href="http://thenounproject.com/markszulyovszky/" target="_blank">Mark Szulyovszky</a>
  </li>
  <li>
    "Sharknado" by <a href="http://thenounproject.com/chris.wolff/" target="_blank">Wolff</a>
  </li>
</ul>
from <a href="http://thenounproject.com" target="_blank">the Noun Project</a> collection