<h2><%= @category.name %></h2>
<%= raw @category.image %><br />
<% if @recipes %>
  <ul>
    <% @recipes.each do |recipe| %>
      <li><%= link_to recipe.name, recipe_path(recipe) %></li>
    <% end %>
  </ul>
<% end %>
<%= render partial: "layouts/edit_delete_actions", locals: { model_name: Category, edit_path: edit_category_path, delete_path: delete_category_path, item: @category.name } %>
