<section>
  <header>
    <h1>Let's see if you are a fatso.</h1>
  </header>
  <form action='/bmi_metric' method='get'>
    How tall are you in meters?
    <input type='text' name='height'>
    
    How much do you weight in kilograms?
    <input type='text' name='weight'>
    
    <button>Calculate!</button>
  </form>

  <% if @bmi %>
    <p>Your BMI is <%= @bmi %>.</p>
  <% end %>
</section>