<section>
  <header>
    <h1>Lets see if you're a fatso.</h1>
  </header>
  <form action='/bmi_choice' method='get'>
    Do you measure your height and weight in imperial or metric units? 
    <select name='system'>
      <option value="imperial">Imperial</option>
      <option value="metric">Metric</option>
    </select>    
    <button>Continue...</button>
  </form>

</section>