<!doctype html>
<html lang='en'>
  <head>
    <meta charset='utf-8'>
    <title>Calculator</title>
    <link rel='stylesheet' href='/style.css'>
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
      <script>
  $(function() {
    var availableTags = [
      "Basic Calculator",
      "Advanced Calculator",
      "Trip Calculator",
      "BMI Calculator",
      "Mortgage Calculator",
      "Personality Calculator"
    ];
    $( "#tags" ).autocomplete({
      source: availableTags
    });
  });
  </script>
  </head>

  <body>
    <header>
      <h1>Super Calculator!</h1>
      <nav>
        <ul>
          <li><a href='/basic'>Basic Calculator</a></li>
          <li><a href='/advanced'>Advanced Calculator</a></li>
          <li><a href='/trip'>Trip Calculator</a></li>
          <li><a href='/bmi_choice'>BMI Calculator</a></li>
          <li><a href='/mortgage'>Mortgage Calculator</a></li>
          <li><a href='/personality'>Personality Calculator</a></li>
        </ul>
      </nav>
    </header>
    <section class="main">
    <%= yield %>
    </section>
    <footer>
      
    </footer>
  </body>
</html>