<h1>Jake Bugg</h1>

<p>Jake Bugg (born Jake Edwin Charles Kennedy,[1] 28 February 1994) is an English musician, singer, and songwriter. His self-titled debut album, largely co-written with songwriter Iain Archer, was released in late 2012 and reached number one on the UK Albums Chart. His second album, Shangri La, was released in November 2013. His main influences are Don McLean, Donovan, The Beatles, Oasis, Jimi Hendrix, Johnny Cash, Neil Young, and Nick Drake.</p>