<h1>Jake Bug Fansite</h1>

<p>
Welcome to the Jake Bug Fansite.  Here you will find out all about singer Jake Bug.
</p>

<img src="http://p.playserver1.com/ProductImages/7/4/9/4/1/2/5/3/35214947_300x300_1.jpg" / >