<h1>Music</h1>

<p><img src="http://cdn1.umg3.net/54/files/2014/03/JAKE-BUGG_MESSED-UP-KIDS-300x300.png" alt="Messed Up Kids EP"></p>

<p>MESSED UP KIDS EP
SINGLES</p>

<p>12 MAY 2014</p>

<p><a href="http://shop.virginemi.com/jakebugg/">PREORDER NOW</a></p>

