iframe {
  margin-left: 40px;
}

.btn {
  width: 180px;
}

.col-md-6 {
  margin-left: 120px;
  margin-right: 50px;
}

.col-md-4 {
  margin-top: 120px;
}

.col-md-4 .btn {
  display: block;
  margin: 5px auto;
}

.form-control {
  width: 300px;
  font-weight: normal;
}

.help-block {
  font-weight: normal;
}

.highlight {
  background-color: #ffff00;
}

.help-block a {
  text-decoration: none;
}

.col-sm-1 {
  margin-right: 10px;
}

.form-control-static a {
  text-decoration: none;
}

footer {
  height: 100px;
  position: relative;
}

footer p {
  position: absolute;
  bottom: 10px;
  left: 50px;
}

footer a.nodecor {
  text-decoration: none;
}

.help-block .star {
  color: #ff0d27;
  margin-right: 5px;
}



