iframe {
  margin-left: 40px;
}

.btn {
  width: 180px;
}

.col-md-6 {
  margin-left: 120px;
  margin-right: 50px;
}

.col-md-4 .btn {
  display: block;
  margin: 5px auto;
}

.form-control {
  width: 300px;
  font-weight: normal;
}

.help-block {
  font-weight: normal;
}

.highlight {
  background-color: #ffff00;
}

.help-block a {
  text-decoration: none;
}

.col-sm-10 .form-control-static {
  margin-left: -60px;
}

.form-control-static a {
  text-decoration: none;
}