and on to more difficult calculations, this is the cosmic place to be!

<form action='/advanced' method='get'>
    operation: <select name='operation'>
    <option value="power">power</option>
    <option value="square">square root</option>
    </select>
    <button>Click me!</button>
</form>







