<% content_for :templates do %>
  <script type="text/templates" id="template_planet">
    <img src="<%%= planet.get('image') %>" alt="<%%= planet.get('name') %>" />
    <h2 id='name'><span><%%= planet.get('name') %></span></h2>
    <ul>
      <li id='age'>Age: <span><%%= planet.get('age') %></span></li>
      <li id='mass'>Mass: <span><%%= planet.get('mass') %></span></li>
      <li id='moons'>Moons: <span><%%= planet.get('moons') %></span></li>
    </ul>
  </script>
  <script type="text/templates" id="template_newplanet">
    <form>
      <input name='name' placeholder='Name' /><br />
      <input name='age' placeholder='Age' /><br />
      <input name='mass' placeholder='Mass' /><br />
      <input type='number' name='moons' placeholder='Number of moons' /><br />
      <input name='image' placeholder='Image URL...' /><br />
      <input type='submit', value='Add' />
    </form>
    <a href='#'><button>Back</button></a>
  </script>

  <script type="text/templates" id="template_star">
    <img src="<%%= star.get('image') %>" alt="<%%= star.get('name') %>" />
    <h2 id='name'><span><%%= star.get('name') %></span></h2>
    <ul>
      <li id='age'>Age: <span><%%= star.get('age') %></span></li>
      <li id='mass'>Mass: <span><%%= star.get('mass') %></span></li>
      <li id='classification'>Classification: <span><%%= star.get('classification') %></span></li>
      <li id='luminosity'>Luminosity: <span><%%= star.get('luminosity') %></span></li>
    </ul>
  </script>

<% end %>


<h1>Celestial Bodies</h1>
<br />
<div id="container">
  <div id="planets-container"></div>
  <div id="stars-container"></div>
  <p>Please wait, loading addresses&hellip;</p>
</div>