<% content_for :templates do %>
  <script type="text/templates" id="tmpl_planet">
    
  </script>
<% end %>



<h1>Celestial Bodies</h1>
<br />
<div id="container">
  <div id="planets-container"></div>
  <div id="stars-container"></div>
  <p>Please wait, loading addresses&hellip;</p>
</div>