body {
  color: #404040;
  background-color: #F2EFDC;
  font-family: 'Open Sans', sans-serif;
}
ul {
  list-style-type: none;
}
h1 {
  font-size: 30px;
}
h3 {
  font-size: 16px;
  padding: 5px;
}

nav {
  height: 42px;
  margin-bottom: 50px;
}
.main {
  width: 900px;
  margin: 0 auto;
  background-color: #037E8C;
}
.small_videos {
  margin: 20px 50px;
  display: inline-block;
  clear: none
  z-index: -1;
}
nav ul li {
  font-size: 16px;
  position: relative;
  float: left;
  padding: 10px 20px;
  z-index: 1;
  height: 40px;
}
nav ul li ul li {
  position: relative;
  float: left;
  padding: 10px 20px;
  display: block;
}
nav ul li a:visited {
  color: #037E8C;
}
a {
  color: #404040;
  text-decoration: none
}

a:visited {
  color: #404040;
  text-decoration: none
}

.submenu {
  color: #F2EFDC;
  }

submenu:hover {
  color: #037E8C;
  background-color: #037E8C;
}

/*charcoal #404040 , dark aqua: #024959, light aqua: #037E8C cream: #F2EFDC, red: #F24C27*/

