<h1>Task Manager</h1>

<form class="create" action='/create' method='post'>
    New Task Name:
    <input type='text' name='task_name'>
    
    Description:
    <input class ="description" type='text' name='description'>

    <button>Save New Task</button>
</form>

<section> 
    <table>
      <tr>
        <td>Task Name</td>
        <td class="wide">Task Description</td>
        <td></td>
        <td></td>
        </tr>
      <% @task_list.each do |task| %>
      <tr>
        <td><%= task["task_name"] %></td>
        <td ><%= task["description"] %></td>
      </tr>
      <% end %>
    </table>
  
</section>   