<!doctype html>
  <html lang='en'>
    <head>
      <meta charset='utf-8'>
      <link rel="sytlesheet" href="/style.css">
      <title>Task Manager</title>
    </head>
    <body>
      <%= yield %>
    </body>
  </html>