<!doctype html>
  <html lang='en'>
    <head>
      <meta charset='utf-8'>
      <link rel="stylesheet" type="text/css" href="/reset.css"/>
      <link rel="stylesheet" type="text/css" href="/style.css"/>
      <title>Task Manager</title>
    </head>
    <body>
      <%= yield %>
    </body>
  </html>