<dl>
  <dt>
    <label for='stock_symbol'>Symbol:</label>
  </dt>
  <dd>
    <input id='stock_symbol' type='text' name='stock[symbol]' value='<%=@stock.symbol %>' autofocus>
  </dd>
</dl>

<dl>
  <dt>
    <label for='holding'>Holding:</label>
  </dt>
  <dd>
    <input id='holding' type='text' name='stock[holding]' value='<%=@stock.holding %>' autofocus>
  </dd>
</dl>

<dl>
  <dt>
    <label for='stock_name'>Name:</label>
  </dt>
  <dd>
    <input id='stock_name' type='text' name='stock[name]' value='<%=@stock.name %>' autofocus>
  </dd>
</dl>

<div class='clear_both'></div>