<p>Portfolios page</p>


<a href='/portfolios/new'>new portfolio</a>


<ul>
  <% @portfolios.each do |portfolio| %>
    <li>
      <%= portfolio.name %>
      <%= portfolio.category %>
      <a href='portfolios/<%= portfolio.id %>/edit'>edit</a>
        <a href='portfolios/<%= portfolio.id %>/delete'>delete </a>
    </li>
  <% end %>
</ul>  
