<% content_for :templates do %>
  <script type="text/template" id="tmpl_planet">
    <p class ="close">X</p>
    <h2><%%= planet.get('name') %></h2>
    <img src="<%%= planet.get('image') %>" alt="<%%= planet.get('name') %>" />

    <%% if (planet.get('mass')) { %>
      <h3>Mass: <%%= planet.get('mass') %></h3>
    <%% } else { %>
      <h3><em>No mass available</em></h3>
    <%% } %>
    <%% if (planet.get('moons')) { %>
      <h3>Moons: <%%= planet.get('moons') %></h3>
    <%% } else { %>
      <h3><em>No moons available</em></h3>
    <%% } %>
  </script>

  <script type="text/template" id="tmpl_newplanet">
    <form id="add_planet">
      <input name="name" placeholder="Planet name" /><br />
      <input name="mass" placeholder="Mass in kg" /><br />
      <input name="moons" placeholder="Number of moons" /><br />
      <input name="image" placeholder="http://example.com/..." /><br />
      <input type="submit" value="Save planet" />
    </form>
    <a href="#">Back to all planets</a>
  </script>

<% end %>
<header>
  <h1>Planets</h1>
  <a href="#new">Create new planet</a>
</header>

<ul class="planets_list" id="container">
  <li>Please wait, application loading...</li>
</ul>
