<div class="category">

<dl>
  <dt>
    <h2><label for='category_name'>Category Name:</label>
  </dt></h2>
  <dd>
    <input id='category_name' type='text' name='category[name]' value='<%=@category.name %>' autofocus required>
  </dd>
</dl>

</div>

<div class='clear_both'></div>