<h2>Your Movie</h2>

<table>
  <tr>
    <td>Movie</td> 
    <td><%= @movie.title %></td>
  <tr>
      <td>Year</td>
      <td><%= @movie.year %></td>
  </tr>
  <tr>
    <td> 
      Actors
    </td>
      <td>
        <ul>
          <% @actors.each do |actor| %>
           <li>
     
              <a href="<%= actor_path(actor) %>"><%= actor.name %></a>
            </li>
  
    
          <% end %>       
        </ul>
      </td>
    </tr>
    
  </table>
