

   <div id='warped'>
                <span class='w10'> </span><span class='w11'> </span><span class='w12'> </span><span class='w13'> </span><span class='w14'> </span><span class='w15'> </span><span class='w16'> </span><span class='w17'> </span><span class='w18'> </span><span class='w19'> </span><span class='w20'> </span><span class='w21'>C</span><span class='w22'>o</span><span class='w23'>o</span><span class='w24'>k</span><span class='w25'>B</span><span class='w26'>o</span><span class='w27'>o</span><span class='w28'>k</span><span class='w29'> </span><span class='w30'> </span>
              </div>
<p> <% @categories.each do |category| %> </p>

  <%= link_to "New category", new_category_path(category)%>

  <%= category.name %>  


  <%= link_to "edit", edit_category_path(category)%>


 <%= link_to 'Delete', category_path(category), method: 'delete', confirm: 'Are you sure?' %> 

  <% end %>

