<h1>Listing users</h1>

<table>
  <tr>
    <th>email</th>
    <th>password digest</th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.email %></td>
    <td><%= user.password_digest %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User', new_user_path %>
