<a href= '/categories/new'>
	new category</a>
	<table>
    <thead>
        <td>CATEGORY NAME</td>
        <td>CATEGORY PORTFOLIOS</td>
        <td>EDIT CATEGORY</td>
        <td>DELETE CATEGORY</td>
    <% @categories.each do |category| %>
      </thead>
      <tbody>
        <td><%= category.name %></td>
        <td><%= category.portfolios.map(&:name).join(', ') %></td>
        <td>
          <a href='/categories/<%=category.id%>/edit'>EDIT</a>
        </td>
        <td>
          <a href='/categories/<%=category.id%>/delete'>DELETE</a>
        </td>
    </tbody>
    <% end %>
    </table>