<section class="create">
  <h2>Post a new video</h2>

  <form action='/create' method='post'>
    <p class="form">Video Name</p>
    <input type='text' name='video_name'> 

    <p class="form">Video Description</p>
    <input type='TextArea' name='video_description'>

    <p class="form">Tags (separate each tag by commas)</p>
    <input type='text' name='tags'>

    <p class="form">Your Name</p>
    <input type='text' name='posted_by'>

    <p class="form">YouTube ID</p>
    <input type='text' name='video_id'>

    <button class="submit">Submit</button>

  </form>
</section>