<!doctype html>
  <html lang='en'>
    <head>
      <meta charset='utf-8'>
      <link rel="stylesheet" type="text/css" href="/reset.css"/>
      <link rel="stylesheet" type="text/css" href="/style.css"/>
      <title>MemeTube</title>
    </head>
    <body>
      <header>
        <h1>MemeTube</h1>
        <nav>
          <ul>
            <li><a href='/index'>Browse Videos</a></li>
            <li><a href='/new'>Add Video</a></li>
            <li><a href='/'>By Topic</a></li>
          </ul>
        </nav>
      </header>
      <%= yield %>
    </body>
  </html>