<!DOCTYPE html>
<html>
<head>
  <title>PlanetsApp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<header>
  <a href="/planets">All Planets</a>
  <a href="/planets/new">New Planets</a>
</header>

<%= yield %>

</body>
</html>
