<!doctype html>
<html lang='en'>
  <head>
    <meta charset='utf-8'>
    <title>Tah-dah!</title>
    <link rel='stylesheet' href='/style.css'>
    <link href='http://fonts.googleapis.com/css?family=Londrina+Outline' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <header>
      <h1><a href="/home">Tah-dah! To do!</a></h1>
    </header>
    <div>
      <%= yield %>
    </div>
    <footer>
    </footer>
  </body>
</html>