<!doctype html>
<html lang='en'>
  <head>
    <meta charset='utf-8'>
    <title>Tah-dah!</title>
    <link rel='stylesheet' href='/style.css'>
    <link href='http://fonts.googleapis.com/css?family=Londrina+Outline' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <header>
      <div class="container">
        <img src="/images/desk_lamp.png" alt="desk lamp icon">
      </div>
      <h1><a href="/">Tah-dah! To do!</a></h1>
    </header>
    <div class="ebthf">
      <div>
      <%= yield %>
      </div>
    </div>
    <footer>
      "Desk Lamp" symbol by Tom Schott, from <a href="http://thenounproject.com/term/desk-lamp/1333/#_=_">The Noun Project</a> collection.
    </footer>
  </body>
</html>