<form action="/create" method="post">
  <h2>Add an item to your list</h2>
  Item: <input type="text" name="item" autofocus>
  Description: <input type="text" name="description">
  <button>Submit</button>
</form>
