<form action='/bmi' method='get'>
  Choice: <select name='system'>
  <option value='bmi_metric'>BMI Metric</option>
  <option value='bmi_imperial'>BMI Imperial</option>
</select>
  <button>Lets Go!</button>
</form>



