<form action='/bmi' method='get'>
  <p>Welcome to the Body Mass Calculator</p>
  Do you want to use the metric or the imperial system?: <select name='system'>
  <option value='bmi_metric'>BMI Metric</option>
  <option value='bmi_imperial'>BMI Imperial</option>
</select>
  <button>Lets Go!</button>
</form>

<form action='/' method='get'>
<button name='home' autofocus>Home!</button>
</form>



