body {
  font-family: Helvetica, Arial, sans-serif;
  background-color: #d3d3d3;
}
table {
  border-collapse: collapse;
}
td, td, th {
  padding: 14px;
}
h1 {
  padding-top: 10px;
  padding-bottom: 10px;
}
header, footer, main {
  background-color: white;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  border: 4px solid #34282C;
  padding: 0px 40px;
  font-size: 18px;
}
header ul {
  padding: 0;
}
header li {
  display: inline;
  padding: 0 8px;
  font-size: 18px;
}
header a {
  text-decoration: none;
}
footer {
  text-align: center;
  font-size: small;
}
main {
  max-width:800px;
  margin: 20px auto;
}
h1 a {
  text-decoration: none;
}
a:hover {
  color: gray;
}
.field {
  margin: 10px;
  margin: 20px;
  font-size: 18px;
}
textarea, input, select {
  max-height: 100px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  font-size: 16px;
  padding: 6px;
}
label {
  font-size: 20px;
}
input {
  display: block;
}
#calculation {
  display: none;
}
