<h2>Please enter your todo item:</h2>


<form action='/create' method='post'>
  <table>
    <tr>
      <td>Input title</td>
      <td><input type='text' name='title' autofocus></td>
  </tr>
  <tr>
    <td>Input description</td>
    <td><textarea rows=3  cols=20  name='todo' ></textarea></td>
  </tr>
  <tr>
    <td></td>
    <td><button>Submit</button></td>
  </tr>
  </table>


</form>


