<h2>Dive deep into the Band!</h2>
<br />
<br />
<%= link_to "Band Member 1", band_band_member_1_path %>
<%= link_to "Band Member 2", band_band_member_2_path %>
<%= link_to "Band Member 3", band_band_member_3_path %>
<%= link_to "Band Member 4", band_band_member_4_path %>