$body-background-color: #f7d9b5;
$main-background-color: #FFF;
$navbar-background-color: #6b1229;
$navbar-color: #fab99a;
$flash-notice-background-color: #CFC;
$flash-error-background-color: #FCC;
$error-messages-background-color: #f0f0f0;
$error-messages-title-background-color: #c00;
$error-messages-title-color: #fff;
$page-width: 75%;
$error-message-width: 400px;