<form action='/create' method='post'>
  Title: <input type='text' name='title' autofocus>
  Description: <input type='text' name='description'>
  <button class="btn btn-success">Add Todo</button>
</form>
