<form action='/create' method='post'>
  <p>Title: <input type='text' name='title' autofocus></p>
  <p>Description: <input type='text' name='description'></p>
  <button class="btn btn-success">Add Todo</button>
</form>
