<p>
  <strong><%=@todo['title'] %></strong> <%= @todo['description'] %>
  <form action='/edit/<%=@todo['id']%>' method='get'>
    <button class="button">Edit</button>
  </form>
  <form action='/delete/<%=@todo['id'] %> <' method='get'>
    <button class="button">Delete</button>
  </form>
</p>
  