<!doctype html>
<html lang='en'>
  <head>
    <meta charset='utf-8'>
    <title>Meme.base</title>
    <link rel='stylesheet' href='/reset.css'>
    <link rel='stylesheet' href='/normalize.css'>
    <link rel='stylesheet' href='/bootstrap.css'>
    <link rel='stylesheet' href='/style.css'>
    <!-- <link href='http://fonts.googleapis.com/css?family=Londrina+Outline' rel='stylesheet' type='text/css'> -->
  </head>
  <body>
    <header>
      <h1><a href="/">Meme.base</a></h1>
    </header>
    <div class="ebthf">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
             <%= yield %>
          </div>
          <div class="col-md-4">
            <a href="/add" role="button" class="btn btn-info">Add</a>
            <a href="/viewall" role="button" class="btn btn-info">View All</a>
            <a href="/keywords" role="button" class="btn btn-info">Keywords</a>
          </div>
        </div>
      </div>
    </div>
    <footer>
      <p>Built by Jason, using <a href="http://getbootstrap.com/" class="nodecor">Bootstrap</a> and powered by <a href="http://www.sinatrarb.com/" class="nodecor">Sinatra</a>.</p>
    </footer>
  </body>
</html>