<form action='/create' method='post' role="form">
  <div class='form-group'>
    <label for='title'>Title of Video</lable>
    <input type='text' class='form-control' id='title' placeholder='Enter title of video' />
  </div>
