<% if @videos %>
  <h2>View All</h2>
  <div class="row">
    <% @videos.each do |video| %>
      <div class="col-md-4">
        <div class="thumbnail">
          <img src="http://img.youtube.com/vi/<%= video['id'] %>/3.jpg" alt="<%= video['title'] %>" />
          <div class="caption">
            <h4><%= video['title'] %></h4>
          </div>
          <a href="/view/<%= video['id'] %>" role="button" class="btn btn-success"><span class="glyphicon glyphicon-play-circle pull-left"></span>Watch</a>
        </div>
      </div>
    <% end %>
  </div>
<% end %>