<!doctype html>
<html lang='en'>
  <head>
    <meta charset='utf-8'>
    <link rel='stylesheet' href='/style.css'>
    <title>My website</title>
  </head>
  <body>
    <h1>Calc it</h1>
    <nav>
      <ul>
        <li><a href='/'>Home</a></li>
        <li><a href='/BMI'>BMI</a></li>
        <li><a href='/Maths'>Maths</a></li>
        <li><a href='/Trip'>Trip</a></li>
        <li><a href='/Mortgage'>Mortgage</a></li>
      </ul>
    </nav>
    <%= yield %>
  </body>
</html>
