<h2>Trip Calculator</h2>

 
<form action='/Trip' method='get'>

    <table>
      <tr>
        <td>How far will you drive? (miles)</td><td><input type='text' name='trip_dist'></td>
      </tr>
      <tr>
        <td>What is the MPG of the car?</td><td><input type='text' name='trip_mpg'></td>
      </tr>
      <tr>
        <td>What is the cost of a gallon of fuel?</td><td><input type='text' name='trip_mpgcost'></td>
      </tr>
      <tr>
        <td>How fast will you drive? (mph)</td><td><input type='text' name='trip_speed'></td>
      </tr>
      <tr>
        <td></td><td><button>Submit</button></td>
      </tr>
    </table>  
</form>

<% if @trip_dist && @trip_dist > 0 %>

  <section>
    <h3>Your BMI</h3>

    <div class="Trip result">
      <p>Your trip will take <%= @trip_time %> hours</p>
      <p>Your trip will cost £<%= @trip_cost %> </p>

    <%= @BMIresult %></div>
  

  </section>

<% end %>


