// Place all the styles related to the recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.recipe .recipe-name {
  display: block;
  margin-bottom: 10px;
}

.recipe .recipe-image {
  float: left;
  margin-right: 10px;
}

.recipe .recipe-detail {
  float: left;
}

.recipe .recipe-detail .field {
  font-size: 16px;
  margin-bottom: 5px;
}

.recipe .recipe-detail .field .field-label {
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  display: inline;
}

.recipe:after {
  content: "";
  display: table;
  clear: both;
}