<%= content_for :templates do %>
  <script type="text/template" id="tmpl_note">
    <h2><%%= note.get('title') %></h2>

    <%% if (note.get('body')) { %>
      <p><%%= note.get('body') %></p>
    <%% } else { %>
      <p><em>No Description</em></p>
     <%% } %> 

  </script>
<% end %>

<h1>My Notes</h1>
<div id="container">
  <p>Please wait, application loading...</p>
</div>