<!doctype html>
<html lang='en'>
  <head>
    <meta charset='utf-8'>
    <link rel='stylesheet' href='/reset.css'>
    <link rel='stylesheet' href='/style.css'>
    <link href='http://fonts.googleapis.com/css?family=Cabin' rel='stylesheet' type='text/css'>
    <title>Video App</title>
  </head>
  <body>
    <h1>VISIONARY VIDEOS</h1>
    <h2>Fascinating videos to trigger your inspiration!</h2>
    <nav>
      <ul>
        <li><a href='/'>Home</a></li>
        <li><a href='/new'>New Entry</a></li>
      </ul>
    </nav>
    <div class="main">
      <%= yield %>
    </div>
  </body>
</html>