<!doctype html>
<html lang='en'>
  <head>
    <meta charset='utf-8'>
    <link rel='stylesheet' href='/reset.css'>
    <link rel='stylesheet' href='/style.css'>
    <title>Video App</title>
  </head>
  <body>
    <h1>Welcome to the Video App</h1>
    <nav>
      <ul>
        <li><a href='/'>Home</a></li>
        <li><a href='/new'>New Entry</a></li>
      </ul>
    </nav>
    <div class="main">
      <%= yield %>
    </div>
  </body>
</html>