<h2>Save a new video:</h2>

<form action='/create' method='post'>
  <input type='text' name='title' placeholder='Enter Title' autofocus>
  <input type='text' name='description' placeholder='Enter Description'>
  <input type='text' name='video_id' placeholder='Enter Video ID'>


  

  <input type='text' name='genre' placeholder='Enter Genre'>

  
  <button>Add to videos</button>
</form>