body {
  font-family: 'Sniglet', cursive;
  background: url(img/background.jpg);
  background-size: cover;
  color: #000000;
  margin-left: 250px;
  margin-right: 250px;
  text-align: center;
} 

header {
  text-align: center;
}

header ul li {
  display: inline;
  padding: 50px;
}

header ul li a {
  text-decoration: none;
  font-size: 22px;
  color: #000000;
}

header ul li a:hover {
  color: #c2c2c2;
}

.text img {
  width: 400px;
}
.text h2 {
  font-size: 32px;
}

.text p {
  font-size: 22px;
}  

.text p a {
  text-decoration: underline;
  color: #000000;
}

.text p a:hover {
  color: #c2c2c2;
}

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
