<form action='/stock' method='get'>
  stock name: <input type ='text' name='stock_name'>
  <button>Show last trade</button>
</form>
<p>The last trade of <%= @stock_name %> is: <%= @last_trade %> </p>

