body {
  background: #eee;
  max-width: 960px;
  margin: auto auto;
  text-align: center;
  font-family: helvetica, arial, sans-serif;
}

header {
  background-color: black;
  color: yellow;
}

li {
  float: left;
  margin: 10px;
}

img {
  width: 150px;
  border-radius: 50%;
  border: 5px solid gray;
}

.close {
  color: gray;
  font-weight: bold;
}

h3 {
  color: red;
}