body {
  font-family: Helvetica, Arial, sans-serif;
  background-color: gray;
}

h1 {
  font-size: 20px;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 10px;

}

ul {
  padding-left: 10px;
}

strong {
  font-weight: bold;
}

form {
  display: inline;
}

a:hover {
  color: gray;
}

nav {
  background-color: black;
  color: white;
  height: 40px;
  margin-bottom: 20px;
}

footer {
  background-color: black;
  color: white;
  min-height: 40px;
  text-align: center;
  padding-top: 20px;
  font-size: 10px;
  margin-top: 20px;
}

nav a, footer a {
  color: white;
}


#menu li{
  float: left;
  padding: 10px;
}
/* hide the submenu */
.submenu {
  display: none;
}
/* show the submenu */
#menu li:hover ul.submenu{
  display: block;
  position: absolute;
  background-color: black;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}

.container {
  min-width: 356px;
  max-width: 480px;
  min-height: 300px;
  padding: 10px;
  margin: 0 auto;
  line-height: 2em;
  background-color: white;
  border: 2px solid black;
  border-radius: 20px;
}

.container input {
  width: 400px;
  line-height: 2em;
}

.input_name {
  width: 200px;
}

.button {
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 1em;
}

.search {
  padding-top: 4px;
  text-align: right;
}

section {
  border-top: 1px dotted black;
  margin-bottom: 10px;
}

.video {
  text-align: center;
}

.details {
  padding: 10px;
}