<h4>
<form action="/new">
    <input type="submit" value="New Video">
</form>
<section class="show">
  </h4>
<h4>
<form action="/show">
    <input type="submit" value="Show Videos">
</form>
<section class="show">
  </h4>
