<% if @youtube_id %>
<h2>You searched for <%= @youtube_id %> </h2>
<%	end %>

<form action='/' method 'get'>
	<LABEL for="youtube_id">YouTube ID (11 characters): </LABEL>
	<input type= 'text' name= "youtube_id" autofocus>
	<LABEL for="youtube_id">Title: </LABEL>
	<input type= 'text' name= "title">
	<LABEL for="youtube_id">Description: </LABEL>
	<input type= 'text' name= "description">
	<LABEL for="youtube_id">Genre: </LABEL>
	<input type= 'text' name= "genre">
	<button>Log Video</button>