<h1>Categories</h1>

<a href="/categories/new">Add a New Category</a>

<table>
	<tr>
		<th>Name</th>
		<th>Actions</th>
	</tr>
	<% @categories.each do |category| %>
	<tr>
		<td><%= category.name %></td>
		<td><%= link_to'Edit', edit_category_path(category) %></td><td><%= link_to 'Delete', category, method: :delete, data: { confirm: 'Are you sure?' } %></td></tr>	
	<% end %>
</table>