<h1>Categories</h1>

<div class='add'><a href="/categories/new">Add a New Category</a></div>

<table>
	<tr>
		<th>Name</th>
	</tr>
	<% @categories.each do |category| %>
	<tr>
		<td><%= category.name %></td>
		<% if can? :update, category %>
		<td><%= button_to'Edit', edit_category_path(category), method: :get %></td>
		<td><%= button_to 'Delete', category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
		<% end %>
	</tr>	
	<% end %>
</table>
