Hello there, Create a new 2Do!

<form action='/create' method='post'>
  <input type='text' name='title' autofocus>
  <input type='text' name='description'/>
  <button>Add to your 2Do list</button>
</form>
