<!DOCTYPE html>
<html>
<head>
  <title>Subway App</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav>
    <ul>
      <h1>Journey Planner: 3000</h1>
    </ul>
  </nav>
  <div class='main'>

<%= yield %>
  
  </div>
</body>
</html>
