<h2>Vehicles</h2>
<ul>
  <% @vehicles.each do | vehicle | %>
    <li><%= link_to "#{vehicle.make} #{vehicle.model}", vehicle_path(vehicle) %></li>
  <% end %>
</ul>
<p>Play the <%= link_to 'game', vehicles_game_path %>?</p>