<!DOCTYPE html>
<html>
<head>
  <title>Todo</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" type="text/css" href="todostyle.css">
  <script type="text/javascript" src="lib/jQuery/jquery.min.js"></script>
            <script type="text/javascript" src="lib/Bootstrap/bootstrap.min.js"></script>
            <script type="text/javascript" src="lib/jQuery/jquery.ui.min.js"></script>
            <script type="text/javascript" src="assets/todo.js"></script>

            <script type="text/javascript">
                $( "#datepicker" ).datepicker();
                $( "#datepicker" ).datepicker("option", "dateFormat", "dd/mm/yy");

                $(".task-container").droppable();
                $(".todo-task").draggable({ revert: "valid", revertDuration:200 });
                todo.init();
            </script>
            

</head>
<body>

<%= yield %>

</body>
</html>
