

<form action='/update/:id' method='post'
  <p> Title: </p> <input type='text' name='title' placeholder='video title' autofocus> </br>
  <p> Video Link:</p>   <input type='url' name='youtubeID' autofocus>


  <p> Genre: </p> <input type="radio" name="genre" value="Action"> Action <br>
  <input type="radio" name="genre" value="Anime"> Anime <br>
  <input type="radio" name="genre" value="Comedy"> Comedy <br>

  <p> Description </p>  <input type='text' name='description' placeholder="description" autofocus>


   <button>Update video</button>
