
  <input type="radio" name="genre" value="Action"> Action <br>
  <input type="radio" name="genre" value="Anime"> Anime <br>
  <input type="radio" name="genre" value="Comedy"> Comedy <br>

    <h3>Genre:<%= movie['genre']%> </h3>  

