
  <input type="radio" name="genre" value="Films"> Films <br>
  <input type="radio" name="genre" value="Anime"> Anime <br>
  <input type="radio" name="genre" value="Comedy"> Comedy <br>
  <input type="radio" name="genre" value="Gaming"> Gaming <br>
  <input type="radio" name="genre" value="Documentry"> Documentry <br>
  <input type="radio" name="genre" value="Sports"> Sports <br>


    <h3>Genre:<%= movie['genre']%> </h3>  



