
<h1> Upload a video </h1>

<form action='/create' method='post'

  <div class="create_title"> <p> Title: </p> <input type='text' name='title' placeholder='video title' autofocus> </br> </div>
  <p> Video Link:</p>   <input type='url' name='youtubeID' autofocus>


  <p> Genre: </p> 
  <input type="radio" name="genre" value="Films"> Films &nbsp;&nbsp;&nbsp; <input type="radio" name="genre" value="Documentry">  Documentry  </br>
  <input type="radio" name="genre" value="Anime"> Anime &nbsp;&nbsp;&nbsp; <input type="radio" name="genre" value="Gaming"> Gaming </br>

  <input type="radio" name="genre" value="Comedy"> Comedy &nbsp;&nbsp;&nbsp; <input type="radio" name="genre" value="Sports"> Sports </br>


  <p> Description </p>  <input type='text' name='description' placeholder="description" autofocus>


   <button>Add video</button>


</form>






