You've travelled a long way. Here are your options:


<form action='/mega_advanced' method='get'>
    mega operation: <select name='mega_operation'>
    <option value="mortgage">mortgage</option>
    <option value="bmi">bmi</option>
    <option value="trip">trip</option>
    </select>
    <button>Click me!</button>
</form>