<h2>Enter your next To Do below:</h2>

<form action='/update/<%= params["id"] %>' method='post'>
  <input type='text' name='name' value='<%= @todo["name"] %>' autofocus>
  <input type='text' name='task' value='<%= @todo["task"] %>'>
  <button>Update To Do list</button>
</form>