<h2>Enter your next To Do below:</h2>

<form action='/create' method='post'>
  <input type='text' name='name' placeholder='Enter Name' autofocus>
  <input type='text' name='task' placeholder='Enter Task'>
  <button>Add to To Do list</button>
</form>
