<form method='post' action='/cars'>
  Name:
  <input type='text' name='car[name]' autofocus>
  <br>
  Make:
  <input type='text' name='car[make]'>
  <br>
  Engine:
  <select>
    <option value="" selected="selected">Choose Engine</option>
    <%@engines.each do |engine|%>
    <option value="<%=engine.name%>"><%=engine.name%></option>
    <%end%>
  </select></br>

  Year:
  <input type='text' name='car[year]'>
  <br>
  Value:
  <input type='text' name='car[value]'>
  <br>
  Description:
  <input type='text' name='car[description]'>
  <br>
  Image:
  <input type='text' name='car[image]'>
  <br>
  <button>Save!</button>
</form>