<form method='post' action='/cars'>
  Make:
  <input type='text' name='car[make]' autofocus>
  <br>
  Model:
  <input type='text' name='car[model]'>
  <br>
  Image:
  <input type='text' name='car[image]'>
  <br>
  Year:
  <input type='text' name='car[year]'>
  <br>
  Value:
  <input type='text' name='car[value]'>
  <br>
  Description:
  <input type='text' name='car[description]'>
  <br>
  <button>add me!</button>
</form>