math

<!-- <nav>
  <ul>
    <li><a href='/'>Home</a></li>
    <li><a href='/basic'>Basic</a></li>
    <li><a href='/advanced'>Advanced</a></li>
  </ul>
</nav -->

<form action='/math' method='post'>
  <input type='text' name='Basic' autofocus>
  <input type='text' name='Advanced' autofocus>
  <button>Nav!</button>
</form>
