<h2>Movie Database</h2> 

<%= link_to 'New Movie', new_movie_path %>

  

<% @movies.each do |movie| %>
  <tr>
    <p><td><%= movie.title %></td></p>
  
    <td><%= link_to 'Details', movie %></td>
    <td><%= link_to 'Delete', movie, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

