<!doctype html>
  <html lang='en'>
    <head>
      <meta charset='utf-8'>
      <link rel="stylesheet" type="text/css" href="/reset.css" />
      <link rel="stylesheet" type="text/css" href="/style.css" />
      
      <title>Calc.it</title>
    </head>
    <body>
      <header>
        <ul>
          <li><a href="/">-Home-</a></li>
          <li><a href="/simple">-Simple-</a></li>
          <li><a href="/advanced">-Advanced-</a></li>
          <li><a href="/trip">-Trip-</a></li>
          <li><a href="/mortgage">-Mortgage-</a></li>
          <li><a href="/bmi">-BMI-</a></li>
          <li><a href="/burj">-Comparison-</a></li>
        </ul>
      </header> 
      <%= yield %>
    </body>
  </html>