<% content_for :templates do %>
  <script type="text/template" id="tmpl_person">
      <p class="close">X</p>
      <h1><%%= person.get('name') %></h1>
      <h2><%%= person.get('email') %></h2>
      <img src="<%%= person.get('url') %>" alt="<%%= person.get('title') %>">
    </script>
<% end %>

<h1>People</h1>
<div id="container">
  <p>Please wait, application loading...</p>
</div>