<!doctype html>
  <html lang='en'>
    <head>
      <meta charset='utf-8'>
      <link rel="stylesheet" type="text/css" href="/style.css">
      <title>Calculator</title>
    </head>
    <body>
<h1> Sinatra Calc </h1> 

      <%= yield %>
    </body>
  </html>