<form action='/menu' method='get'>
</form>
<div class="buttons"> 


 <a href="/simple" method='get'>
    <button>Basic Maths</button>
  </a> <br />

  <a href="/advanced">
    <button>Advanced</button>
  </a> <br />


  <a href="/trip">
    <button>Trip</button>
  </a> <br />

    <a href="/mortgage">
    <button>Mortgage</button>
  </a> <br />

  <a href="/bmi">
    <button>bmi</button>
  </a> <br />


  


</div>