<form action ='/create' method='post'>
	<input type='text' name='title' placeholder='Title' autofocus>
	<input type='text' name='task' placeholder='What do you want to remember?' >
	<button>To.do It!</button>
</form>