<form action ='/show' method='post'>
	<input type='text' name='title' value='title' autofocus>
	<input type='text' name='task' value='What do you want to remember?' >
	<button>To.do It!</button>
</form>