
<% @categories.each do |category| %>

  <h2><%= category.name %></h2>


    <% recipes = Recipe.where(category_id: category.id) %>
    <ul>
      <% recipes.each do |recipe| %>
        <li><%= recipe.name %></li>
      <% end %>
    </ul>

 <% end %>
