<h2>Recipes</h2>

<p> <a class='new' href="/recipes/new">New Recipe</a></p>


<%= @recipes.each do |recipe| %>

  <%= recipe.name %>

  <%= link_to "edit", edit_recipe_path(recipe)%>


 <%= link_to 'Delete', recipe_path(recipe), method: 'delete', confirm: 'Are you sure?' %> 



 
  <% end %>