
  <header>
    <h1>Funny Pictures App</h1>
  </header>
  <div id="main">

    <form>
      <label for="url">URL</label>
      <input id="url" type="text" placeholder="url">
      <input id="add_image" type="submit">
    </form>


    <div id="container"></div>

    <div id="buttons">
      <button id="mustache">
        mustache
      </button>
      <button id="hat">
        hat
      </button>
      <button id="save">
        Save
      </button>

    </div>


    <div id="savable_image">
    <img id="canvasImg" alt="Savable image to go here">
    </div>
  </div>
