
  <header>
    <h1>Funny Pictures App</h1>
  </header>
  <div id="main">

    <form>
      <label for="url">URL</label>
      <input id="url" type="text" placeholder="url">
      <input type="submit">
    </form>


    <div id="container"></div>

    <button id="save">Save</button>

    <div id="savable_image">
    <img id="canvasImg" alt="Savable image to go here">
    </div>
  </div>
