<h2>Add a Video</h2>
<form action ='/create' method='post'>
	<input type='text' name='title' placeholder='title' autofocus>
	<input type='text' name='url' placeholder='url' >
	<input type='text' name='description' placeholder='description' >
	<input type='text' name='tag' placeholder='tag' >
	<button>Add Video</button>
</form>