<!doctype html>
<html lang='en'>
  <head>
    <meta charset='utf-8'>
    <link rel='stylesheet' href='/reset.css'>
    <link rel='stylesheet' href='/style.css'>
    <link href='http://fonts.googleapis.com/css?family=Sonsie+One' rel='stylesheet' type='text/css'>
    <title>meme-tube</title>
  </head>
  <body>
   <header>
      <h1>memetube</h1>
        <ul>
          <li><a href='/'>Home</a></li>
          <li><a href='/list'>Videos</a></li>
          <li><a href='/tags'>Search</a></li>
        </ul>
    </header>

    <%= yield %>
  </body>
</html>