<!doctype html>
<html lang='en'>
  <head>
    <meta charset='utf-8'>
    <link rel="stylesheet" type="text/css" href="/style.css">
    <link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
    <title>Stock Quotes</title>
  </head>
  <body>
    <div class="content">
      <h1>Stock Quotes</h1>
      <%= yield %>
    </div>
  </body>
</html>