<form action='/update/<%=@items['id'] %>' method='post'>
  ID: <%=@items['id'] %></br>
  Task: <input type='text' name='task' autofocus></br>
  Comments: <input type='text' name='comments'></br>
  Importance: <select name="importance"></br>
    <option value="high">High</option> 
    <option value="medium">Medium</option>
    <option value="low">Low</option>
  </select> 
  <button>Commit</button>
</form>   