body {
  font-family: 'Raleway', sans-serif;
  background: #b2cecf;
}

body h1 {
  font-weight: bold;
  font-size: 62px;
}

header h1 {
  font-weight: bold;
  font-size: 46px;
}

header p {
  font-size: 22px;
}

.content {
  text-align: center
}


