<h2>Ingredients#index</h2>
<h3 id="notice"><%= notice %></h3>
<% @ingredients.each do |ingredient| %>
    <li><%= link_to ingredient.name, ingredient_path(ingredient) %></li>
<% end %>
<br />
<%= link_to "New Ingredient", new_ingredient_path %>
