<h2>Ingredients#index</h2>
<h3 id="notice"><%= notice %></h3>
<ul>
  <%= content_tag_for(:li, @ingredients) do |ingredient| %>
      <%= link_to ingredient.name, ingredient_path(ingredient) %>
  <% end %>
</ul>
<br />
<%= link_to "New Ingredient", new_ingredient_path %>
