<h2><%= @ingredient.name %></h2>
<%= button_to "Edit #{@ingredient.name}", edit_ingredient_path(@ingredient), method: "get" %>
<%= button_to "Delete #{@ingredient.name}", delete_ingredient_path(@ingredient), method: "post", confirm: "Delete #{@ingredient.name}?" %>
