<h2><%= @ingredient.name %></h2>
<% if @ingredient.ingredients_recipes.any? %>
  <p class="section-heading">Recipes</p>
  <ul>
    <% @ingredient.ingredients_recipes.each do |ingredients_recipe| %>
      <li><%= link_to ingredients_recipe.recipe.name, recipe_path(ingredients_recipe.recipe) %> <span class="italics"><%= "(#{ingredients_recipe.recipe.category.try(:name)})" %></span>
      </li>
    <% end %>
  </ul>
<% end %>
<%= render partial: "layouts/cud_actions", locals: { model_name: Ingredient, new_path: new_ingredient_path, edit_path: edit_ingredient_path, delete_path: delete_ingredient_path, item: @ingredient.name } %>