<h2>Baby Bieber</h2>

  <img src="http://www.vanityfair.com/online/oscars/2012/12/justin-bieber-sitcom-based-on-his-early-years/_jcr_content/par/cn_contentwell/par-main/cn_blogpost/cn_float_container/cn_image.size.justin-bieber-teen-show.jpg" alt="Bieber purple hoodie young"/>