<h2>Videos</h2>

<div class='menu'>
<a href='/start'>Home</a></br>
<a href='/before'>Baby Bieber</a>
<a href='/after'>Bad Ass Bieber</a>
<a href='/gallery'>Gallery</a>
<a href='/news'>News</a>
</div>

<div class="video">
<iframe width="560" height="315" src="//www.youtube.com/embed/emsLrZg160s" frameborder="0" allowfullscreen></iframe></div>
<div class="video">
<iframe width="560" height="315" src="//www.youtube.com/embed/47YClVMlthI" frameborder="0" allowfullscreen></iframe></div>
<div class="video">
<iframe width="560" height="315" src="//www.youtube.com/embed/4GuqB1BQVr4" frameborder="0" allowfullscreen></iframe></div>

