<% if @where_watched.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@where_watched.errors.count, "error") %> prohibited this location from being saved:</h2>

      <ul>
      <% @where_watched.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


    <p>
      <%= f.label :location %><br />
      <%= f.text_field :location %>
    </p>
