<h1>Locations index</h1>
<%= button_to 'Add Location ', new_where_watched_path, method: :get %>

<table>
  <thead>
    <td>Location</td>
  </thead>
  <% @where_watcheds.each do |where_watched| %> 
    <tr>
      <td><%= where_watched.location %></td>
      <td><%= button_to 'Edit', edit_where_watched_path(where_watched.id), method: :get %></td>
      <td><%= button_to 'Delete', delete_where_watched_path(where_watched.id), method: :delete %></td>

<% end %>