<h2>Users#index</h2>
<table class="users-index">
  <thead>
    <tr>
      <td>
        <div class="section-heading">Username</div>
        <br />
      </td>
        <% if can? :manage, User %>
        <td>
          <div class="section-heading">User ID</div>
          <br />
        </td>      
        <td>
          <div class="section-heading">Password Digest</div>
          <br />
        </td>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td>
          <%= link_to user.username, user_path(user) %>
        </td>
        <% if can? :manage, User %>
          <td>
            <%= user.id %>
          </td>
          <td>
            <%= user.password_digest %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
<table>

