<!doctype html>
<html lang='en'>
  <head>
    <meta charset='utf-8'>
    <link rel='stylesheet' href='reset.css'>
    <link rel='stylesheet' href='style.css'>
    <title>2Do</title>
  </head>
  <body>
    <nav>
      <ul>
        <li><a href='/'>Home</a></li>
        <li><a href='/new'>What do you want 2Do?</a></li>
        <li><a href='/existing'>View your existing 2Dos</a></li>
      </ul>
    </nav>

    <%= yield %>
  </body>
</html>