body {
  background-color: #B2FFFF ;
  text-align: center;
}

h1 {
  color: #FF7519;
  font-family: helvetica;
  text-align: center;
  font-size: 35px;
}


p {
  text-align: center;
  font-size: 20px;
  font-family: helvetica;
  color: #354C4C;
}

ul {
  padding: 0;
}

ul li {
  text-align: center;
  list-style: none;
}