<h1>Listing users</h1>

<table>
  <tr>
    <th>User</th>
    <th>Role</th>
    <th>Password_hash</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.email %></td>
    <td><%= user.password_digest %></td>
    
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User', new_user_path %>
