<h1>Calcit</h1>

<ul>
  <li><a href='/'>Home</a></li>
  <li><a href='/calculator'>Calculator</a></li>
  <li><a href='/power'>Power</a></li>
  <li><a href='/root'>Root</a></li>
  <li><a href='/mortgage'>Mortgage</a></li>
  <li><a href='/trip'>Trip</a></li>
  <li><a href='/bmi'>BMI</a></li>
</ul>

<form action='/navigate' method='post'>
  <input type='text' name='destination' autofocus>
  <button class="btn btn-success">Navigate</button>
</form>