<!doctype html>
<html lang='en'>
  <head>
    <meta charset='utf-8'>
    <link rel='stylesheet' href='/style.css'>
        <link rel='stylesheet' href='/bootstrap.css'>

    <title>Calcit</title>
  </head>
  <body>

    <nav>
      <ul>
        <li><a href='/'>Home</a></li>
        <li><a href='/calculator'>Calculator</a></li>
        <li><a href='/power'>Power</a></li>
        <li><a href='/root'>Root</a></li>
        <li><a href='/mortgage'>Mortgage</a></li>
      </ul>
    </nav>
    <div class="container">
    <%= yield %>
    </div>
  </body>
</html>
