<!doctype html>
<html lang='en'>
  <head>
    <meta charset='utf-8'>
    <link rel='stylesheet' href='/style.css'>
    <title>Calcit</title>
  </head>
  <body>
    <nav>
      <ul>
        <li><a href='/'>Home</a></li>
        <li><a href='/calculator'>Calculator</a></li>
        <li><a href='/power'>Power</a></li>
      </ul>
    </nav>
    <%= yield %>
  </body>
</html>
