<h1>Find a Number to a Power</h1>


<form action='/power' method='get'>
  Number: <input type='text' name='number'>
  to power of: <input type='text' name='power'>
  <button>Calculate</button>
</form>

  <% if @p_result %>
    <section>
      <header>
        <h1>Result of Calculation</h1>
      </header>
      <p>The result of <%=@number %> to the power of <%=@power%> is <%=@p_result %> </p>
  <% end %>