hello world!

title

description

video id

genre


<form action='/add_vid' method='post'>
  <input type='text' name='title' placeholder = 'Title' autofocus>
  <input type='text' name='description' placeholder = 'Description'/>
  <input type='text' name='video_id' placeholder = 'Video ID'/>
  <input type='text' name='genre' placeholder = 'Genre'/>
  <button>Add video</button>
</form>