<!doctype html>
<html lang='en'>
  <head>
    <meta charset='utf-8'>
     <link rel='stylesheet' href='/reset.css'>
    <link rel='stylesheet' href='/style.css'>
    <title>VHSTube</title>
    </head>

    <body>
      <header>
        <h1>Stockbook greed is good</h1>

      </header>

      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/categories">categories</a></li>
          <li><a href="/portfolios">portfolios</a></li>
        </ul?
      </nav>

      <%= yield %>

    </body>
  </html>