<h2> Enter your new task </h2>

<form action='/create' method='post'>
   
    <input type='text' name='name' placeholder="Name of author" autofocus>
     <input type='text' name='details' placeholder="Enter task details" autofocus>
     <button>Add to the ToDo list</button>

</form>