<h1><%= @item[0]['name'] %> </h1>
<h1><%= @item[0]['description'] %> </h1>
  


  <div id="delete"><a href='/delete/<%= params['id'] %>'>delete entry</a></li> </div>
    <div id="edit"><a href='/edit/<%= params['id'] %>'>edit entry</a></li> </div>



<!--         <li><a href='/edit/:id'>Edit ToDo</a></li>
 -->  

