  <h2> Task objective: </h2>

  <form action='/create' method='post'>
    <input type='text' name='title' placeholder="Name of author" autofocus>
    <input type='text' name='name' placeholder="Title of task" autofocus>
    <textarea name='description' placeholder="Task" autofocus></textarea>
    <input type="submit">
  </form>

