Here you will later see the differet recipes. 

<span>
<p><%= link_to 'Edit', edit_category_path(@category) %></p>

<p><%= button_to 'Delete Category', category_delete_path(@category) %></p>

<p><%= link_to 'Back', categories_path %></p>
</span>