<span>
<p><%= link_to 'Edit', edit_ingridient_path(@ingridient) %></p>

<p><%= button_to 'Delete Category', ingridient_delete_path(@ingridient) %></p>

<p><%= link_to 'Back', ingridients_path %></p>
</span>