
<h2>These guys were really good!</h2>
<img class='front' src="http://d817ypd61vbww.cloudfront.net/sites/default/files/styles/tile_4_column/public/sticky/4Apr1964_Highlight_sm.jpg?itok=fRKQG0of">


<p>Friday, April 4 is the 50th anniversary of The Beatles’ record-making invasion of the Billboard Hot 100 singles chart with a sweep of the entire Top 5!  
The Beatles also had seven other songs peppering the Hot 100 chart (there were a whopping 12 Beatles songs on that week’s Hot 100).  
That same week, The Beatles also held the top two spots on Billboard’s albums chart with Meet The Beatles! and Introducing…The Beatles.  These U.S. chart records have never been broken!
<a href="http://gnikn.us/OfzTD5">USA TODAY has reported on this record-breaking achievement.</a></p>
