<!DOCTYPE html>
<html>
<head>
  <title>Fanzine</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav>
  <li><a href='/index'>Home</a></li>
  <li><a href='/bio'>Bio</a></li>
  <li><a href='/photos'>Photos</a></li>
  <li><a href='/music'>Music</a></li>
  <li><a href='/video'>Video</a></li>
</nav>
  <div class="container">
    <%= yield %>
  </div><!--containter-->
</body>
</html>
