body {
  margin: 0 auto;
  background: url(background.jpg);
  background-size: cover;
}

header {
  background-color: #000000;
  text-align: center;
} 

header ul li {
  display: inline;
  padding: 30px;
  font-size: 22px;
  line-height: 3;
}

header ul li a {
  text-decoration: none;
}

header ul li a:hover {
  text-decoration: none;
  color: #ffffff;
}

footer {
  position:fixed;
  left:0px;
  bottom:0px;
  height:30px;
  width:100%;
  background-color: #000000;
  text-align: center;
} 

footer ul li {
  display: inline;
  padding: 30px;
  font-size: 14px;
}

footer ul li a {
  text-decoration: none;
}

footer ul li a:hover {
  text-decoration: none;
  color: #ffffff;
}

.main {
  position: relative;
  width: 100%;
  height: 100%;
  margin-top: 40px;
  margin-left: 40px;
  margin-right: 40px;
  padding: 0px 20px 20px 20px;
  background-color: rgba(0, 0, 0, 0.5);
}

.main h1 {
  font-size: 64px;
  color: #ffffff;
  margin-bottom: 10px;
}

.main h2 {
  margin-top: 10px;
  font-size: 42px;
  color: #ffffff;
  margin-bottom: 30px; 
}

.main p a {
  text-decoration: none;
  font-size: 22px;
}

.main p a:hover {
  text-decoration: none;
  color: #ffffff;
}

.main table {
  text-align: center;
  font-size: 16px;
}

.main table th {
  text-align: center;
  font-weight: bold;
  border-bottom: solid black 1px;
  padding: 10px;
  color: #428bca;
}

.main table td {
  text-align: center;
  padding: 10px;
  color: #428bca;
  border-bottom: solid black 1px;
  font-size: 14px;
}

.links {
  margin-top: 20px;
  padding: 10px;
  text-align: right;
  margin-right: 80px;
}

.links ul {
  list-style-type: none; 
}

.links ul li {
  display: inline-block;
  font-size: 14px;
  padding: 20px 20px 0 20px;
}

.field {
  margin: 20px 0 20px 20px;
  color: #428bca;
}