<% content_for :templates do %>
  <script type="text/template" id="tmpl_planet">
    <p><%%= planet.get('name') %></p>
    <p><%%= planet.get('moons') %></p>
    <p><%%= planet.get('size') %></p>
    <p><%%= planet.get('dist_from_sun') %></p>
  </script>

<% end %>



<h1>List of planets</h1>

<div id="container">
  <p>Lodaing app...</p>
</div>
