<!doctype html>
<html lang='en'>
  <head>
    <meta charset='utf-8'>
    <link rel='stylesheet' href='/reset.css'>
    <link rel='stylesheet' href='/style.css'>
    <title>MemeTube</title>
  </head>
  <body>
    <nav>
      <ul id="menu">
        <li><a href='/'>Videos</a></li>
        <li><a href='/new'>Add Video</a></li>
        <li>
          <a href='/genres'>Genres</a>
          <ul class="submenu">
            <% genres.each do |genre_hash| %>
              <li><a href='/genre/<%= genre_hash["genre"].downcase %>'><%= genre_hash["genre"].downcase %></a></li>
            <% end %>  
          </ul>
        </li>
      </ul>
      <div class="search">
        <form method="post" action="/search">
          <input type="text" name="query"/>
          <input type="submit" value="Search" />
        </form>
      </div>
    </nav>

    <div class="container">
      <%= yield %>
    </div>

    <footer>
      <p><a href="http://www.louiechristie.com">Louie Christie</a> 2014</p>
    </footer>
  </body>
</html>