<form action='/create' method='post'>
  <p class="input_name">Title: <input type='text' name='title' autofocus></p>
  <p class="input_name">Description: <input type='text' name='description'></p>
  <p class="input_name">Youtube URL: <input type='text' name='url'></p>
  <p class="input_name">Genre: <input type='text' name='genre'></p>

  <button class="btn btn-success">Add Video</button>
</form>
