<!doctype html>
<html>
    <head>
        <title>GAChat</title>
        <script src="jquery-1.11.0.min.js"></script>
        <script src="gachat.js"></script>
        <link href="styles.css" rel="stylesheet" />
    </head>
    <body class="nojs">
        <h1>GAChat</h1>
        <p>Error</p>
        
    </body>
</html>
