/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

.input {
  border: 2px solid black;
  margin-top: 20px;
  text-align: center;
  width: 300px;
  display: inline-block;
  background-color: #687e8a;
  margin-left: 40px;
}

body {
  background-image:url(/background.jpg);
  background-repeat: no-repeat;
  color: white;
  background-attachment: fixed;
}

.links {
  text-align: center;
  text-decoration: none;
  font-size: 20px;
}

a { color:white; } 
a:hover {
  color: #E8D7C8;
}
