<!doctype html>
<html>
  <head>
    <title>Planets App</title>
    <link rel="stylesheet" href="styles.css" />

    <script type="text/templte" id="tmpl_planet">
      <div class="planet">
        <p class="close">X</p>
        <h1><%= planet.get('name') %></h1>
        <p>Volume: <%= planet.get('volume') %> Earths</p>
        <img src="<%= planet.get('url') %>" alt="<%= planet.get('title') %>" width="100" />
      </div>
    </script>


    <script src="js/jquery-1.11.1.js"></script>
    <script src="js/underscore.js"></script>
    <script src="js/backbone.js"></script>
    <script src="js/addressbook.js"></script>

  </head>

  <body>

    <header>
      <h1>Backbone Planets App</h1>
    </header>

    <div id="container">
      <form id="add_planet" action="#">
        <label for="name">Name:</label>
        <input id="name" placeholder="name" name="name" />
        <br />
        <label for="volume">Volume:</label>
        <input id="volume" placeholder="1" name="url" />
        <br />
        <label for="url">Picture URL:</label>
        <input id="url" placeholder="http://example.com/..." name="url" />
        <br />
        <input type="submit" value="Add Planet" />
      </form>
      <ul id="address_book"></ul>
    </div>
  </body>
</html>




